body,
html {
  margin: 0;
  height: 100%;
  font-family: Helvetica Neue, helvetica, sans-serif;
}

.header {
  height: 3.75rem;
  border-bottom: 1px solid black;
}

.canvas {
  width: 100%;
  height: calc(100vh - 3.75rem);
  position: relative;
}

.editable-text {
  position: absolute;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: text;
}
